<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="background-container">

        <div class="comic-container">

            <a href="./books/<%= foundBook._id =%>"><img src="/images/<%= foundBook.image =%>"
            <h1><%= foundBook.title =%></h1>

            <div>

            </div>

            <div class="about-text">
                <ul>

                    <li><i><%= foundBook.title =%></i></li><br>
                    <li><i>Author: <%= foundBook.author =%></li><br>
                    <li><i>Publisher: <%= foundBook.publisher =%></li><br>
                    <li><i>Genre: <%= foundBook.genre =%></li><br>
                    <li><i>Number of pages: <%= foundBook.pages =%></li><br>
                    <li><i>Rating:<%= foundBook.rating =%></li><br>

                </ul>

                </ul>

                <p><a href="#">Synopsis:</a><%= foundBook.synopsis =%></p><br>

            </div>


        </div>
      })  
        
        
        
        <!-- <div class="comic-container">

            <h1>Queer: A Graphic History</h1>

            <div>

                <img src="/images/queer.jpg" alt="Queer A Graphic History comicbook cover" style="width:400px">

            </div>

            <div class="about-text">
                <ul>

                    <li><i>Title: Queer: A Graphic History</i></li><br>
                    <li><i>Author: Meg-John Barker</li><br>
                    <li><i>Publisher: Icon Books</li><br>
                    <li><i>Genre: Nonfiction</li><br>
                    <li><i>Number of pages: 176</li><br>
                    <li><i>Rating: 4</li><br>

                </ul>

                </ul>

                <p><a href="#">Synopsis:</a>Activist-academic Meg-John Barker and cartoonist Julia Scheele illuminate
                    the histories of queer thought and LGBTQ+ action in this groundbreaking non-fiction graphic
                    novel.<br></p>
                <p>From identity politics and gender roles to privilege and exclusion, Queer explores how we came to
                    view sex, gender and sexuality in the ways that we do; how these ideas get tangled up with our
                    culture and our understanding of biology, psychology and sexology; and how these views have been
                    disputed and challenged.</p><br>

                <p>Along the way we look at key landmarks which shift our perspective of what’s ‘normal’ – Alfred
                    Kinsey’s view of sexuality as a spectrum, Judith Butler’s view of gendered behaviour as a
                    performance, the play Wicked, or moments in Casino Royale when we’re invited to view James Bond with
                    the kind of desiring gaze usually directed at female bodies in mainstream media.</p><br>

                <p>Presented in a brilliantly engaging and witty style, this is a unique portrait of the universe of
                    queer thinking.</p>
            </div>


        </div> -->
    </div>
    </div>

    <%- include('../partials/footer') -%>