<%- include('../partials/head') -%>

    <%- include('../partials/nav') -%>

        <div class="background-container">

            <div class="display-container">

                <h2>CODESQUAD COMICS</h2>
                <p>CodeSquad Comics is a collection of graphic novels read by Rochelle Holmes. The site is intended to
                    display comic book covers along with information about each book, including the author, a rating,
                    and
                    other details about the graphic novel. Browse through the complete collection below. Click on the
                    cover
                    image or the Details link to see even more information for each graphic novel including the
                    publisher,
                    genre, number of pages, and a brief synopsis. The About page includes meta information about this
                    collection. Login is only available to the site administrator at this time.</p>
            </div>

            <div class="display-container">

                <h2>COMPLETE COMIC COLLECTION</h2>

                <div class="inside-container-index">

                    <% comics.forEach(comic=> { %>
                        <div class="inside-container-index-1">
                            <a href="/books/<%= comic._id %>" target="#"><img src="/images/<%= comic.image %>">
                                <p><b><i>
                                            <%= comic.title %>
                                        </i></b></p>
                                <br><b><i>by <%= comic.author %></i></b></br>
                                <br><b><i>
                                        <%= comic.rating %> stars
                                    </i></b></br>
                                <br><a href="/books/<%= comic._id %>"><b><i>Details</i></b></a></br>
                        </div>
                        <% }) %>

                            <!--- info on books pushed up top in order to loop through all comic books to be displayed on books page -->
                            
                            <!--FOR HW 9 COMICBOOK FLEXBOXES TO ADD WHEN CLICKED? ALSO ADDED A CLASS TO ISOLATE DISPLAY MORE BUTTON-->
                            <div id="showMoreComics">
                                <!-- <div class="more-comics"></div>
             <div class="more-comics-2"></div>
             <div class="more-comics-3"></div> -->
                            </div>



                </div>
                <div class="index-display-more">
                    <button type="button">DISPLAY MORE</button>
                </div>


            </div>

        </div>

        <%- include('../partials/footer') -%>